{% from "_formhelpers.html" import render_field, render_instance_options %}

var instance_groups_count = 1; // keep track of how many instance selectors there are

{% autoescape false %}
var instances = new Array();
{% for instance in form.i.query %}
instances[{{loop.index0}}] = new Object();
instances[{{loop.index0}}]["idInstance"] = {{instance.idInstance}};
instances[{{loop.index0}}]["name"] = "{{instance.name}}";
{% set outer_loop = loop %}
{% for prop in instance_properties %}
instances[{{outer_loop.index0}}]["{{prop.name}}"] = {{instance.get_property_value(prop.idProperty, db) or 0}};
{% endfor %}
{% endfor %}
{% endautoescape %}
var selected_instances = new Array();
{% for instance in request.args.getlist('i') %}selected_instances.push({{instance}});{% endfor %}

$('#i').bind('keydown', 'ctrl+a', function() {
    $('#i option').attr("selected", "selected");
    return false;
});

function reEscape(str) {
    return str.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, "\\$&");
}

function match(instance, filter) {
    if (filter == '') return true;
    fields = ["name", {% for prop in instance_properties %}"{{prop.name}}", {% endfor %}]
    for (f in fields) {
        var re = new RegExp(reEscape(fields[f]), 'g');
        if (typeof instance[fields[f]] == 'string') {
            filter = filter.replace(re, '"' + instance[fields[f]] + '"');
        }
        else {
            filter = filter.replace(re, instance[fields[f]]);
        }
    }
    try {
        matches = eval(filter);
        return matches;
    }
    catch (err) {
        return false;
    }
}

$('#instance_filter_apply').click(function() {
    var filter = $('#instance_filter').val();
    $('#i > option').remove();
    for (instance in instances) {
        if (match(instances[instance], filter)) {
            opt = $('<option></option>').val(instances[instance]["idInstance"]).html(instances[instance]["name"]);
            for (si in selected_instances) {
                if (selected_instances[si] == instances[instance]["idInstance"]) {
                    opt.attr('selected', 'selected');
                    break;
                }
            }

            $('#i').append(opt);
        }
    }
});

$('#instance_filter_clear').click(function() {
    $('#instance_filter').val('');
    $('#instance_filter_apply').click();
});

$('#instance_filter').keypress(function(e) {
    // override enter key to supress form submission while in the filter field
    if (e.which == 13) {
        try {
            $('#instance_filter_apply').click();
        }
        catch (err) {}
        return false;
    }
});

$('#instance_filter_apply').click();

{% if not form.i.data %}
$('#i option').attr("selected", "selected");
{% endif %}

clear_instance_filter = function(group) {
    $('#instance_filter_'+group).val('');
    apply_instance_filter(group);
}

apply_instance_filter = function(group) {
    var filter = $('#instance_filter_'+group).val();
    $('#i'+group+' > option').remove();
    for (instance in instances) {
        if (match(instances[instance], filter)) {
            opt = $('<option></option>').val(instances[instance]["idInstance"]).html(instances[instance]["name"]);
            for (si in selected_instances) {
                if (selected_instances[si] == instances[instance]["idInstance"]) {
                    opt.attr('selected', 'selected');
                    break;
                }
            }

            $('#i'+group).append(opt);
        }
    }
}

handle_enter_key = function(event, group) {
    if (event.keyCode == 13) {
        apply_instance_filter(group);
        return false;
    }
}

$('#remove_instance_group_selector').click(function() {
    if (instance_groups_count > 1) {
        $('#i'+(instance_groups_count-1)).parent().parent().remove();
        $('#form_table tr[name="tr_instances_filter"]:last').remove();
        instance_groups_count--;
        if (instance_groups_count == 1) {
            $('#use_colors_for').parent().parent().remove();
        }
        $('#instance_groups_count').val(instance_groups_count);
    }
    return false;
});

$('#add_instance_group_selector').click(function() {
    $('#form_table tr[name="tr_instances_filter"]:last').after(
        '<tr><td style="vertical-align: middle;">Instances (Group '+instance_groups_count+')</td><td><select id="i'+instance_groups_count+'" multiple="multiple" name="i'+instance_groups_count+'" size="10"></select></td></tr>' +
        '<tr name="tr_instances_filter"><td style="vertical-align: middle;">Filter instances</td>' +
        '<td><input type="text" name="instance_filter_'+instance_groups_count+'" id="instance_filter_'+instance_groups_count+'" onkeypress="return handle_enter_key(event, '+instance_groups_count+');" value=""></input>' +
        '<img onClick="apply_instance_filter('+instance_groups_count+');" id="instance_filter_apply_'+instance_groups_count+'" src="{{url_for("static", filename="img/search.png")}}"/><img onClick="clear_instance_filter('+instance_groups_count+')" id="instance_filter_clear_'+instance_groups_count+'" src="{{url_for("static", filename="img/clear.png")}}"/>' +
        '</td></tr>'
    );
    if (instance_groups_count == 1) { // add the coloring option
        $('#form_table tr[name="tr_instances_filter"]:last').after(
            '<tr><td style="vertical-align: middle;">Use colors for</td><td><select id="use_colors_for" name="use_colors_for"><option value="instance_groups">Instance groups</option><option value="solvers">Solver Configurations</option></select></td></tr>'
        );
    }
    $('#i'+instance_groups_count).html('{{render_instance_options(form.i.query)}}');

    instance_groups_count++; // just added another instance group selector
    $('#instance_groups_count').val(instance_groups_count);
    return false;
});