{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Probabilistic Domination{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/js/jquery.image_preview.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="navigation">
        » <a href="{{url_for('frontend.experiments_index', database=database)}}">Experiments</a> ::
        <a href="{{url_for('frontend.experiment', database=database, experiment_id=experiment.idExperiment)}}">{{experiment.name}}</a> ::
        Probabilistic Domination
    </div>

    <div style="margin-left: 5px;">
        <h2>Probabilistic Domination</h2>
        <form method="get" action="{{url_for('analysis.probabilistic_domination', database=database, experiment_id=experiment.idExperiment)}}">
            <table>
                {{ render_field(form.solver_config1) }}
                {{ render_field(form.solver_config2) }}
                <tr><td colspan="2"><input type="submit" value="Show" /></td></tr>
            </table>
        </form>
    </div>

    {% if form.solver_config1.data and form.solver_config2.data %}
    <div>
        <ul>
        <li>
            <strong>Instances where {{form.solver_config1.data}} prob. dominates {{form.solver_config2.data}} ({{sc1_dom_sc2|length}}):</strong><br/>
            {% for i in sc1_dom_sc2 %}{{i}} (<a class="screenshot" rel="{{url_for('plot.result_property_comparison_plot', database=database, experiment_id=experiment.idExperiment)}}?instance={{i.idInstance}}&solver_config1={{form.solver_config1.data.idSolverConfig}}&solver_config2={{form.solver_config2.data.idSolverConfig}}&dim=400&solver_property=cputime" href="{{url_for('analysis.result_property_comparison', database=database, experiment_id=experiment.idExperiment)}}?instance={{i.idInstance}}&solver_config1={{form.solver_config1.data.idSolverConfig}}&solver_config2={{form.solver_config2.data.idSolverConfig}}&solver_property=cputime">RTD Plot</a>)<br/>{% endfor %}
        </li>
        <li>
            <strong>Instances where {{form.solver_config2.data}} prob. dominates {{form.solver_config1.data}} ({{sc2_dom_sc1|length}}):</strong><br/>
            {% for i in sc2_dom_sc1 %}{{i}} (<a class="screenshot" rel="{{url_for('plot.result_property_comparison_plot', database=database, experiment_id=experiment.idExperiment)}}?instance={{i.idInstance}}&solver_config2={{form.solver_config1.data.idSolverConfig}}&solver_config1={{form.solver_config2.data.idSolverConfig}}&dim=400&solver_property=cputime" href="{{url_for('analysis.result_property_comparison', database=database, experiment_id=experiment.idExperiment)}}?instance={{i.idInstance}}&solver_config2={{form.solver_config1.data.idSolverConfig}}&solver_config1={{form.solver_config2.data.idSolverConfig}}&solver_property=cputime">RTD Plot</a>)<br/>{% endfor %}
        </li>
        <li>
            <strong>Instances with crossovers in the RTDs ({{no_dom|length}}):</strong><br/>
            {% for i in no_dom %}{{i}} (<a class="screenshot" rel="{{url_for('plot.result_property_comparison_plot', database=database, experiment_id=experiment.idExperiment)}}?instance={{i.idInstance}}&solver_config1={{form.solver_config1.data.idSolverConfig}}&solver_config2={{form.solver_config2.data.idSolverConfig}}&dim=400&solver_property=cputime" href="{{url_for('analysis.result_property_comparison', database=database, experiment_id=experiment.idExperiment)}}?instance={{i.idInstance}}&solver_config1={{form.solver_config1.data.idSolverConfig}}&solver_config2={{form.solver_config2.data.idSolverConfig}}&solver_property=cputime">RTD Plot</a>)<br/>{% endfor %}
        </li>
    </div>
    {% endif %}
{% endblock %}