{% from "_formhelpers.html" import render_field, render_radio_field %}
{% extends "base.html" %}
{% block title %}Ranking{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/tablesorter_style.css')}}" type="text/css" />
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.tablesorter.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.hotkeys.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#results').tablesorter({
            	headers: {
            		0: {sorter: 'digit'},
                    2: {sorter: 'digit'},
                    3: {sorter: 'digit'},
                    4: {sorter: 'digit'},
                    5: {sorter: 'digit'},
                    6: {sorter: 'digit'},
                    {% if form.calculate_average_dev.data and not form.penalized_average_runtime.data %}
                    7: {sorter: 'digit'},
                    {% endif %}
                    {% if form.penalized_average_runtime.data and not form.calculate_average_dev.data %}
                    7: {sorter: 'digit'},
                    {% endif %}
                    {% if form.calculate_average_dev.data and form.penalized_average_runtime.data %}
                    7: {sorter: 'digit'},
                    8: {sorter: 'digit'},
                    {% endif %}
            	}
            });
            {% include '/analysis/multiple_instances_filter_js.html' %}
            $('#i').bind('keydown', 'ctrl+a', function() {
                $('#i option').attr("selected", "selected");
                return false;
            });
          });
    </script>
{% endblock %}
{% block content %}
    <div class="navigation">
        » <a href="{{url_for('frontend.experiments_index', database=database)}}">Experiments</a> ::
        <a href="{{url_for('frontend.experiment', database=database, experiment_id=experiment.idExperiment)}}">{{experiment.name}}</a> ::
        Ranking
    </div>
    <h2>Ranking</h2>
    <div style="margin-left: 5px;">
        <form method="get" action="{{url_for('analysis.solver_ranking', database=database, experiment_id=experiment.idExperiment)}}">
            <table id="form_table">
                {{ render_field(form.i, explanation='Hold Ctrl to select multiple instances.', size=10, width=29) }}
                <tr>
                    <td style="vertical-align: middle;">Filter instances</td>
                    <td>{{form.instance_filter}}<img id="instance_filter_apply" src="{{url_for('static', filename='img/search.png')}}"/><img id="instance_filter_clear" src="{{url_for('static', filename='img/clear.png')}}"/><br/>
                        JS expression filter. Valid variables are name, {% for prop in instance_properties %}{{prop.name}}, {% endfor %} <br/>
                        Example: (numAtoms >= 6000 && numAtoms <= 8000 && name.match(/k3/))
                    </td>
                </tr>
                {{ render_field(form.calculate_average_dev, explanation="Average standard deviation of runtimes over all instances")}}
                {{ render_field(form.penalized_average_runtime, explanation="10 * run's CPU time limit for unsuccessful runs")}}
                <tr><td colspan="2"><input type="submit" value="Show" /><input type="submit" name="csv" value="CSV" /></td></tr>
            </table>
        </form>
    </div>
    <div>
        The virtual best solver (VBS) solves an instance if any of the experiment's solvers are<br/>
        sucessful on that instance in any of their <i>numRuns</i> runs. In this case the VBS gets<br/>
        <i>numRuns</i> successful runs on that instance and for each run the run time of the best solver.
    </div>
    <h3>Ranking by the number of successful runs</h3>
    <table id="results" class="tablesorter">
        <thead>
            <tr>
                <th>#</th>
                <th>Solver</th>
                <th># of successful runs</th>
                <th>% of all runs</th>
                <th>% of VBS runs</th>
                <th>cumulated CPU time</th>
                <th>avg. CPU time per successful run</th>
                {% if form.calculate_average_dev.data %}
                <th>avg. deviation of successful runs</th>
                {% endif %}
                {% if form.penalized_average_runtime.data %}
                <th>penalized avg. runtime</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for sc in data %}
            <tr class="{{'even' if loop.index0 % 2 == 0 else 'odd'}}">
                <td>{% if loop.index0 > 0 %}{{loop.index0}}{% endif %}</td>
                <td>{% if loop.index0 > 0 %}<a href="{{url_for('frontend.experiment_results_by_solver', database=database, experiment_id=experiment.idExperiment)}}?solver_config={{sc.0.idSolverConfig}}">{{sc.0.get_name()}}</a>{% else %}{{sc.0}}{% endif %}</td>
                <td>{{sc.1}}</td>
                <td>{{(sc.2 * 100.0)|round(2)}} %</td>
                <td>{{(sc.3 * 100.0)|round(2)}} %</td>
                <td>{{sc.4|round(2)}}</td>
                <td>{{sc.5|round(2)}}</td>
                {% if form.calculate_average_dev.data %}
                <td>{{sc.6|round(2)}}</td>
                {% endif %}
                {% if form.penalized_average_runtime.data %}
                <td>{{sc.7|round(2)}}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
