{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <h2>Register</h2>
    
    <a href="/">Back</a>
    
    <div><img src="/static/img/info.png"/> To submit solvers and access information about an experiment's progress and results create an account on this website.<br/>
    None of the information submitted here is publicly accessible.</div>
    
    <form action="{{url_for('register', database=database)}}" method="post">
        <table>
            <tr>
                <td>Last Name:</td>
                <td><input size="30" type="text" name="lastname" /></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input size="30" type="text" name="firstname" /></td>
            </tr>
            <tr>
                <td>e-mail (used to login):</td>
                <td><input size="30" type="text" name="email" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input size="30" type="password" name="password" /></td>
            </tr>
            <tr>
                <td>Password (confirm):</td>
                <td><input size="30" type="password" name="password_confirm" /></td>
            </tr>
            <tr>
                <td>Postal Address:</td>
                <td><textarea cols="25" rows="5" name="address"></textarea></td>
            </tr>
            <tr>
                <td>Affiliation:</td>
                <td><textarea cols="25" rows="5" name="affiliation"></textarea></td>
            </tr>
            <tr>
                <td>Give a solution</td>
                <td>{{session.captcha|render_formula}}<br/>(space-separated, e.g. 1 0 1 for A=1, B=0, C=1 and don't use your solver for this!)<br/><input type="text" name="captcha" /></td>
            </tr>
            {% if error %}<tr><td colspan="2"><div class="form_error">{{error}}</div></td></td>{% endif %}
            <tr><td colspan="2"><input type="submit" value="Submit" /></td></tr>
        </table>
    </form>
    
{% endblock %}