{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <h2>Register</h2>

    <a href="/">Back</a>

    <div><img src="{{url_for('static', filename='img/info.png')}}"/> To submit solvers and access information about an experiment's progress and results create an account on this website.<br/>
    None of the information submitted here is publicly accessible.</div>

    <form action="{{url_for('register', database=database)}}" method="post">
        {{ form.csrf }}
        <table>
            {{ render_field(form.lastname, size=40, maxlength=255) }}
            {{ render_field(form.firstname, size=40, maxlength=255) }}
            {{ render_field(form.email, size=40, maxlength=255) }}
            {{ render_field(form.password, size=40, maxlength=255) }}
            {{ render_field(form.password_confirm, size=40, maxlength=255) }}
            {{ render_field(form.address, cols=30, rows=5) }}
            {{ render_field(form.affiliation, cols=30, rows=5) }}
            <tr>
                <td>Give a solution</td>
                <td>{{session.captcha|render_formula}}<br/>(space-separated, e.g. 1 0 1 for A=1, B=0, C=1<br/> Don't use your solver for this!)<br/><input size="40" type="text" name="captcha" /></td>
            </tr>
            {% if errors %}
                <tr>
                    <td colspan="2">
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endif %}
        </table>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}