<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="EDACC is an advanced platform for the design, administration and analysis of experiments with algorithms on arbitrary computing systems ranging from multi core PC's to cluster or large scale grids." />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="content-language" content="en" />
    <title>EDACC - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css" />
    <link rel="icon" href="{{url_for('static', filename='img/edacc.png')}}" type="image/png" />
    <script src="{{url_for('static', filename='js/jquery-1.4.2.min.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
            $(document).ready(function() {
                $('#flash').delay(3000).fadeOut();
            });
        /* ]]> */
    </script>
    {% if g.PIWIK_URL %}
    <!-- Piwik -->
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://{{g.PIWIK_URL}}" : "http://{{g.PIWIK_URL}}");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script>
    <!-- End Piwik Tag -->
    {% endif %}
    {% endblock %}
</head>
<body>
    <div id="header">
        <span id="title"><a href="{{url_for('frontend.index')}}">{{db}}</a></span>
    </div>
    <div id="navigation">
        {% if db.is_competition() %}
        <a href="{{url_for('frontend.competition_overview', database=database)}}">Overview</a>|
        <a href="{{url_for('frontend.competition_schedule', database=database)}}">Schedule</a>|
        <a href="{{url_for('frontend.competition_rules', database=database)}}">Rules</a>|
        <a href="{{url_for('frontend.categories', database=database)}}">Categories</a>|
        {% if db.is_competition() and not session.logged_in %}
        {% if db.competition_phase() in (2,) %}
        <a href="{{url_for('accounts.register', database=database)}}">Register</a>|
        {% endif %}
        {% endif %}
        {% endif %}
        <a href="{{url_for('frontend.experiments_index', database=database)}}">Results</a>
        {% if db.is_competition() and session.logged_in %}
            |<a href="{{url_for('accounts.manage', database=database)}}">Manage</a>
        {% endif %}
        <span id="admin_login">
            {% if db.is_competition() and not session.logged_in and not db.competition_phase() == 1 %}
            <a href="{{url_for('accounts.login', database=database)}}">Login</a>
            {% endif %}
            {% if session.logged_in %}Logged in as {{session.email}} (<a href="{{url_for('accounts.logout', database=session.database)}}">Logout</a>) {% endif %}
        </span>
    </div>
    <div id="content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div id="flash">
            <img src="{{url_for('static', filename='img/info.png')}}"/>
            {% for message in messages %}
              {{ message }}<br/>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% if db.is_competition() %}DEBUG: phase: {{ db.competition_phase()|competition_phase }} {% endif %}
        <div style="float: right;"><a href="mailto:daniel.diepold@gmail.com">Email</a> the developer, submit <a href="https://github.com/ceari/edacc_web/issues">bugs</a> and view the <a href="http://github.com/ceari/edacc_web">code on github</a> — EDACC project on <a href="http://sourceforge.net/projects/edacc/">Sourceforge</a></div>
    </div>
</body>
</html>
