{% extends "base.html" %}
{% block title %}Instancedetails{% endblock %}
{% block content %}
<h2>Details of instance {{instance.name}}</h2>

<table class="details">
    <tr class="even">
        <td>Name:</td>
        <td>{{instance.name}}</td>
    </tr>
    <tr class="odd">
        <td>md5:</td>
        <td>{{instance.md5}}</td>
    </tr>
    {% for prop in instance_properties %}
    <tr class="{{'even' if loop.index0 % 2 == 0 else 'odd'}}">
        <td>{{prop.name}}</td>
        <td>{{instance.get_property_value(prop.name, db)}}</td>
    </tr>
    {% endfor %}
</table>

<a href="{{url_for('instance_download', database=database, instance_id=instance.idInstance)}}">Download</a> instance ({{blob_size|download_size}})

<div>
<pre>
{{instance_text}}
</pre>
</div>
{% endblock %}