{% extends "base.html" %}
{% block title %}List of submitted solvers{% endblock %}
{% block content %}
<div class="navigation">
    <a href="{{url_for('frontend.experiments_index', database=database)}}">Experiments</a>
</div>
<h2>List of submitted solvers</h2>
    {% if solvers %}
    <ul>
        {% for solver in solvers %}
            <li><a href="{{url_for('frontend.solver_details', database=database, solver_id=solver.idSolver)}}">{{solver.name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    You haven't submitted any solvers yet.
    {% endif %}
{% endblock %}
