{% extends "base.html" %}
{% block title %}Solved instances{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#table_instances').dataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "oLanguage": {
                    "sZeroRecords": "No matching results"
                },
                "aoColumns": [null, {% for _ in range(instance_properties|length) %} null,{% endfor %} {"bSortable": false}]
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="navigation">
        » <a href="{{url_for('experiments_index', database=database)}}">Experiments</a> ::
        <a href="{{url_for('experiment', database=database, experiment_id=experiment.idExperiment)}}">{{experiment.name}}</a> ::
        Solved instances
    </div>
    <h2>Solved instances</h2>
    <div>
        These instances have been solved by at least one solver in any of its runs.
    </div>
    {% if solved_instances|length > 0 %}
        <table id="table_instances">
            <thead>
                <tr>
                    <th>Name</th>
                    {% for prop in instance_properties %}
                    <th>{{prop.name}}</th>
                    {% endfor %}
                    <th>Results</th>
                </tr>
            </thead>
            <tbody>
            {% for instance in solved_instances %}
                <tr>
                    <td><a href="{{url_for('instance_details', database=database, instance_id=instance.idInstance)}}">{{instance.name}}</a></td>
                    {% for prop in instance_properties %}
                    <td>{{instance.get_property_value(prop.idProperty, db)}}</td>
                    {% endfor %}
                    <td><a href="{{url_for('frontend.experiment_results_by_instance', database=database, experiment_id=experiment.idExperiment)}}?instance={{instance.idInstance}}">Results</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        All instances have been solved.
    {% endif %}
{% endblock %}