{% extends "base.html" %}
{% block title %}{{solver.name}} Details{% endblock %}
{% block content %}
<div class="navigation">
    <a href="{{url_for('frontend.experiments_index', database=database)}}">Experiments</a>
</div>
<h2>Details of solver {{solver.name}}</h2>

{% if session.logged_in and solver.user == request.User %}
    <a href="{{url_for('accounts.download_solver', database=database, id=solver.idSolver)}}">Download binary</a> | <a href="{{url_for('accounts.download_solver_code', database=database, id=solver.idSolver)}}">Download code</a>
    {% if db.is_competition() and db.competition_phase() == 1 %}
        | <a href="{{url_for('accounts.submit_solver', database=database, id=solver.idSolver)}}">Submit a new version of this solver</a>
    {% endif %}

{% endif %}

<table class="details">
    <tr>
        <td>Name:</td>
        <td>{{solver.name}}</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>{{solver.type}}</td>
    </tr>
    <tr>
        <td>Version:</td>
        <td>{{solver.version}}</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>{{solver.description}}</td>
    </tr>
    <tr>
        <td>Binary Name:</td>
        <td>{{solver.binaryName}}</td>
    </tr>
    <tr>
        <td>Binary MD5:</td>
        <td>{{solver.md5}}</td>
    </tr>
    <tr>
        <td>Authors:</td>
        <td>{{solver.authors}}</td>
    </tr>
</table>

<h2>supported parameters</h2>
<table class="details">
    <thead>
        <tr>
            <th>Name</th>
            <th>Prefix</th>
            <th>Boolean</th>
            <th>Default value</th>
            <th>Order</th>
        </tr>
    </thead>
    <tbody>
        {% for parameter in solver.parameters %}
        <tr>
            <td>{{parameter.name}}</td>
            <td>{{parameter.prefix}}</td>
            <td>{{'No' if parameter.hasValue else 'Yes'}}</td>
            <td>{{parameter.value}}</td>
            <td>{{parameter.order}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
