{% extends "base.html" %}
{% block title %}{{solver.name}} Details{% endblock %}
{% block content %}
<div class="navigation">
    <a href="{{url_for('experiments_index', database=database)}}">Experiments</a>
</div>
<h2>Details for solver configuration {{solver_config.get_name()}}</h2>

Solver:
<table class="details">
    <tr>
        <td>Name:</td>
        <td>{{solver.name}}</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>{{solver.type}}</td>
    </tr>
    <tr>
        <td>Version:</td>
        <td>{{solver.version}}</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>{{solver.description}}</td>
    </tr>
    <tr>
        <td>Binary Name:</td>
        <td>{{solver.binaryName}}</td>
    </tr>
    <tr>
        <td>Binary MD5:</td>
        <td>{{solver.md5}}</td>
    </tr>
    <tr>
        <td>Authors:</td>
        <td>{{solver.authors}}</td>
    </tr>
</table>

<h3>specified parameters</h3>
{% for parameter in parameters %}
{{parameter.parameter.name}}, {{parameter.parameter.prefix}}, value: {% if not parameter.parameter.hasValue %}Flag set{% else %}{{parameter.value}}{% endif %}<br/>
{% endfor %}
Launch Command: {{solver_config|launch_command}}
{% endblock %}