{% extends "base.html" %}
{% block title %}Submit Solver{% endblock %}
{% block content %}
    <div class="navigation">
        <a href="{{url_for('experiments_index', database=database)}}">Experiments</a>
    </div>
    <h2>Submit Solver</h2>
    {% if id %}
    <div>
        You are about to submit a new version of a solver you previously submitted. The old version will be deleted.
    </div>
    {% endif %}
    <form action="{{url_for('submit_solver', database=database, id=id)}}" method="post" enctype="multipart/form-data">
        <table width="800px">
            <tr>
                <td width="200px">Solver name:</td>
                <td><input size="30" type="text" name="name" /></td>
            </tr>
            <tr>
                <td>Version:</td>
                <td><input size="30" type="text" name="version" /></td>
            </tr>
            <tr>
                <td>Authors:</td>
                <td><input size="30" type="text" name="authors" /></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea cols="47" rows="10" name="description"></textarea></td>
            </tr>
            <tr>
                <td>Solver binary:</td>
                <td><input type="file" name="binary" /></td>
            </tr>
            <tr>
                <td>Solver code archive:</td>
                <td><input type="file" name="code" /></td>
            </tr>
            <tr>
                <td>Parameters:</td>
                <td><input size="80" type="text" name="parameters" /></td>
            </tr>
            <tr>
                <td></td>
                <td>Please provide the parameters your solver should use here.
                    You have to use INSTANCE and SEED (case-sensitive) as variables in the parameter specification.
                    The system will substitute the instance filename and RNG seed when your solver is run.
                    <div>Example:<br/>
                    <span class="command">"INSTANCE -s SEED -wp 0.05 -flag1"</span> will result in e.g. <span class="command">"./binaryName inst1.cnf -s 6441654 -wp 0.05 -flag1"</span>.
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
    {% if error %}{{error}}{% endif %}
{% endblock %}
